---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Welcome to Astro.">
	<div class="container">
		<div class="wrapper">
			<div class="box img1">img1</div>
			<div class="box img2">img2</div>
			<div class="box img3">img3</div>
			<div class="box img4">img4</div>
			<div class="box img5">img5</div>
			<div class="box img6">img6</div>
			<div class="box img7">img7</div>
			<div class="box img8">img8</div>
			<div class="box img9">img9</div>
			<div class="box img10">img10</div>
		</div>
	</div>
</Layout>

<style>
	.wrapper {
		display: grid;
		grid-template-rows: 120px 120px 120px 120px;
		grid-template-areas: 
			"img1 img1 img2 img3"
			"img1 img1 img6 img6"
			"img4 img5 img6 img6"
			"img7 img8 img9 img10"
		;
	}

	.box {
		display: flex;
		font-family: verdana;
		align-items: center;
		justify-content: center;
		font-weight: bold;
		color: white;
	}

	.img1 {
		grid-area: img1;
		background-color: orange;
	}
	.img2 {
		grid-area: img2;
		background-color: green;
	}
	.img3 {
		grid-area: img3;
		background-color: rgb(255, 38, 0);
	}
	.img4 {
		grid-area: img4;
		background-color: rgb(25, 0, 255);
	}
	.img5 {
		grid-area: img5;
		background-color: rgb(255, 0, 255);
	}
	.img6 {
		grid-area: img6;
		background-color: rgb(0, 255, 0);
	}
	.img7 {
		grid-area: img7;
		background-color: rgb(0, 238, 255);
	}
	.img8 {
		grid-area: img8;
		background-color: rgb(208, 255, 0);
	}
	.img9 {
		grid-area: img9;
		background-color: rgb(132, 0, 255);
	}
	.img10 {
		grid-area: img10;
		background-color: rgb(0, 255, 179);
	}
	
</style>
